/* * {
  color: antiquewhite;
} */
body {
  background-image: url("../images/sky-414199_1280.jpg");
  background-size: cover;
  color: antiquewhite;
}
/* .details{
  color: antiquewhite;
} */
.background{
  background-image: linear-gradient(black,darkblue,DeepSkyBlue);
}